
    <link rel="stylesheet" href="/Css/login.css">

    <div class="box">
        <span class="border_line"></span>
        <form action="/user/create-session" method="post">
            <h2>Sign in</h2>
            <div class="inputbox">
                <input type="email" name="email" id="" required="required">
                <span>Email-id</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" name="password" id="" required="required">
                <span>Password</span>
                <i></i>
            </div>
             <div class="link">
                <a href="/user/sign-up">Sign up</a>
             </div>
            <input type="submit" value="login">
        </form>
    </div>
