/* for heading */

h2{
    padding: 10px;
    color: white;
    /* margin-bottom: 5px; */
    font-size: 20px
}
/* for select attribute */
select
{
    padding: 10px;
    font-size: 20px;
    margin: 12px;
    margin-top: 0px;
    letter-spacing: 0.05em;
    border-radius: 8px;
    width:50%;
}
/* for button attribute */
button
{
    background-color: blue;
    color:white;
    padding: 20px;
    /* outline: none; */
    border: none;
    margin:5px;

    width: 50%;
    font-size: 20px;
    letter-spacing: 0.05em;
    border-radius: 8px;
    text-align: center;
}